@media (max-width: 425px) {
  .tituloNosotros {
    font-size: 5rem;
  }
  .redes-1 {
    background-size: cover;
  }
  .redes-2 {
    background-size: cover;
  }
  .redes-3 {
    background-size: cover;
  }
}
